# Libreta con ejercicios de transformacions en sparl

### Referencia a la api de spark

Lo primero que tenemos que hacer siempre en una aplicacion spark es crear una sesion de spark y ponerle nombre a la aplicacion,


En spark existen 3 maneras de crear un RDD:

<B>1)</B> mediante la funcion parallelize sobre una lista

myarray = ["a","b","c","d","e"]
spark.sparkContext.parallelize(myarray)


<B>2)</B> Referenciando a un fichero que existe

RDD = sc.textFile("  / /")


<B>3)</B> Creando un RDD desde otro RDD existente
RDD = RDD1.map(lambda x: x +1)




https://spark.apache.org/docs/latest/api/python/reference/pyspark.html

In [1]:
#inicializamos una aplicacion spark

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark1").getOrCreate()
print(spark)


# creamos un RDD a traves de la funcion parallelize
# que recibe como parámetro un array

rdd = spark.sparkContext.parallelize([1,2,3,4,5,6])

## con count sacamos el número de elementos
print (rdd.count())

# con collect()  obtenemos el contenod del array
rdd.collect()

24/01/12 19:12:55 WARN Utils: Your hostname, A208-100 resolves to a loopback address: 127.0.1.1; using 192.168.208.123 instead (on interface eno1)
24/01/12 19:12:55 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/01/12 19:12:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/01/12 19:12:56 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/01/12 19:12:56 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
24/01/12 19:12:56 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
24/01/12 19:12:56 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
24/01/12 19:12:56 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
24/01/12 19:12:56 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.
24/01/12 19:12:56 WARN Utils: Service 'SparkUI' could not bind on port 4046. Attempting port 4047.
24/01/12 19:12:56 WARN Utils: Service 'SparkUI' could not bind on port 4047. Attempting port 4048.
24/01/12 19:12:56 WARN Utils: Service 'SparkUI' could not bind on port 4048. Attempting port 4049.

<pyspark.sql.session.SparkSession object at 0x7f4cc8e03280>

6

[1, 2, 3, 4, 5, 6]

## 1.1. Creamos una cadena de palabras en python que usaremos para las diferentes transformaciones

a) crear un array que contenga entre 10-20 palabras, algunas deben de estar repetidas varias veces.

myarray=["haddoop","bigdata","kafka","spark","data", "haddoop","kibana", "RDD","Mongo","Tableau","nodered","kafka", "spark","elastic","bigdata","IESAbastos","IESAbastos","IESAbastos"]

b) Una vez tengamos el array hay que crear un RDD por medio de la funcion parallelize.

c) sacamos por pantalla el número de elementos del array

In [3]:
myarray=["haddoop","bigdata","kafka","spark","data", "haddoop","kibana", "RDD","Mongo","Tableau","nodered","kafka", "spark","elastic","bigdata","IESAbastos","IESAbastos","IESAbastos"]

myRDD = spark.sparkContext.parallelize(myarray)

print(myRDD.count())

18

## 1.2 Tansformaciones MAP

Gracias a la funcion map podemos transformar de manera simple todos los elementos de un rdd.
Para las transformaciones en pyspark se suele usar una funcion lambda:
             (lamba   x: "transformacion a aplicar")

REF- lambda: https://www.freecodecamp.org/espanol/news/expresiones-lambda-en-python/
- https://docs.python.org/es/3/reference/expressions.html#lambda




<b>ejercicio 1</b> Transformar todos los elementos a mayuscula

In [4]:
myRDDMayusculas = myRDD.map(lambda x: x.upper())

## 1.3  Transformacion filter
    
mediante la transformacion filter podemos filtrar los elemento sde la cadana en base a una condició ("que empieze por", "que contenga", que acabe)
    


Ejercicio2:
- realizar un RDD que contenga todos los elementos que empiecen por un string "B".
-

- realizar un RDD que contenga todos los elementos que terminen por string "A"

In [17]:

#Ejercicio 2
ConB = myRDDMayusculas.filter(lambda x: x.startswith("B"))
print('Empiezan con "B":', ConB.collect())
finA = myRDDMayusculas.filter(lambda x:x.endswith("A"))
print('Terminan con "A":', finA.collect())

Empiezan con "B": ['BIGDATA', 'BIGDATA']
Terminan con "A": ['BIGDATA', 'KAFKA', 'DATA', 'KIBANA', 'KAFKA', 'BIGDATA']

## 1.4 transformacion flatmap
La transformacion flatMap , es parecida a la map, pero en este caso mapea y aplana.
Por ejemplo. Con flatmap, una linea con varias palabras, se podria mapear en varias listas. Es decir que de un elemento del RDD puede crear más de un elemento en el rdd nuevo.

Dado el siguiente array de tres elementos
["Curso Especialista Inteligencia Artificial","Desarrollo aplicaciones web","Instituto IESAbastos es el mejor" ]

Si usamos map tendríamos 1 arrays con 3 elementos. Y dentro de cada array, de manera anidada tendriamos otro array con las palabras.

[['Curso', 'Especialista', 'Inteligencia', 'Artificial'],
 ['Desarrollo', 'aplicaciones', 'web'],
 ['Instituto', 'IESAbastos', 'es', 'el', 'mejor']]

Si usamos flatmap en vez de tener un array con 3 elementos, tendriamos un array con tantos elementos como palabras tenemos.



**Ejercicio 3**, dadas las tres frases siguientes

myLines = ["Curso Especialista Inteligencia Artificial","Desarrollo aplicaciones web","Instituto IESAbastos es el mejor" ]

3.1 - Contruir un array que separe las frases en palabras usando map

3.2 - construir un rdd que contenga tantas entradas como palabras tenemos en el array.

In [ ]:
#ejercicio 3.1

In [ ]:
#ejercicio 3.2

## 1.5.  Transformacion de Unión

A través de esta transformación podemos unir dos RDDS

**Ejercicio 4**: Coger dos de los RDDs anteriores y unirlos

In [ ]:
#ejercio 4

## 1.6.  Transformacion Distinct

Elimina todos los elementos repetidos de un RDD

**Ejercicio 5**: Coger el RDD anterios (si tiene palabras repetidas) y aplicarle la transformacion distinct.

Nota: En caso de no tener palabras repetidas usar el siguiente array
myarray = ["haddoop","bigdata","haddoop","spark","data", "haddoop","kibana", "RDD", "spark","elastic","bigdata","IESAbastos","IESAbastos","IESAbastos" ]

In [ ]:
#Ejercicio 5

## 1.7.  Transformacion groupByKey y reduceByKey


groupBykey y reducebyKey permiten agrupar /o reducir el numero de elementos de una lista en funcion de la clave.  
Para ello:
- primero se tiene que crear una tupla clave y numero de veces que aparece la palabra.

               (lambda x:  (x,1))
               
- una vez creada la tupla se aplica reduceByKey usando el operador add, lo que nos permite sumar el numero de veces que apacera un elemento

**Ejercicio 6**: Contar el número de veces que aparecen todas las palabras del siguiente array

myarray = ["haddoop","bigdata","haddoop","spark","data", "haddoop","kibana", "RDD", "spark","elastic","bigdata","IESAbastos","IESAbastos","IESAbastos" ]

In [ ]:
#Ejercicio 6
from operator import add   ## dejar esta linea

# 1.8.  Transformacion ordenacion "sortByKey"

Dada una lista de pares (clave ,valor), con el método sortbyKey podemos ordenar los valores por la clave, tanto de manera ascendente como descendente

True --> ascendente
False--> descendente

**Ejercicio 7**: Ordena los valores de la lista anterior por la clave  de manera ascendente

In [ ]:
#ejercio7

<b>Ejercicio</b> 8  ordena los valores de la lista 6 por el valor en vez de por la clave

In [ ]:
#ejercio 8

Tambien es comun filtar las palabras que tengan un minimo numero de caracteres

<b>Ejercicio 9</b> Dado un rdd de palabras filtrar las palabras que tienen una logitud mayor a x caracteres

In [ ]:
#ejercio 9


<b>Ejercicio 9</b> Dado el siguiente array

myarraylineas = ["haddoop bigdata haddoop spark tableau nodered","data nodered  haddoop kibana RDD", "spark  elastic  bigdata IESAbastos IESAbastos IESAbastos" ]

Se pide mostrar las palablas de mas de 6 carácteres que aparecen en el array ordenadas de manera descendiente por el numero de veces que aparecen.

In [ ]:
Ejercicio 10.

Repetir el ejercicio, pero esta vez usad como entrada de datos el fichero txt que contiene la descripcion del quijote.

Sacar por pantalla las 10 palabras de entre 6-10 carácteres que más se repitan en el libro